Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

ci: speed up Angular lint CI with npm and .angular cache (node 24)
  .github/workflows/lint.yml
Due: none

ci: unify lint workflow trigger (PR + push on main)
  .github/workflows/lint.yml
Due: none

chore(kit): add kit development base
  angular.json
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/lib/kit.html
  projects/kit/src/lib/kit.scss
  projects/kit/src/lib/kit.spec.ts
  projects/kit/src/lib/kit.ts
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat(kit): moved the hardcoded methods from each project into a shared library.
  angular.json
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/auth/auth-guards.spec.ts
  projects/kit/src/lib/auth/auth-guards.ts
  projects/kit/src/lib/directives/autofill.directive.ts
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
  projects/kit/src/lib/kit.html
  projects/kit/src/lib/kit.scss
  projects/kit/src/lib/kit.spec.ts
  projects/kit/src/lib/kit.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
  projects/kit/src/lib/overlay/overlay-config.ts
  projects/kit/src/lib/storage/kit-storage.service.spec.ts
  projects/kit/src/lib/storage/kit-storage.service.ts
  projects/kit/src/lib/utils/array.spec.ts
  projects/kit/src/lib/utils/array.ts
  projects/kit/src/lib/utils/haptics.ts
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.spec.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

docs: add AGENTS.md for AI assistant context
  AGENTS.md
Due: none

feat(kit): add kitPresentReloadAlert and make HTTP hooks optional (0.0.2)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
  projects/kit/src/lib/overlay/reload-alert.spec.ts
  projects/kit/src/lib/overlay/reload-alert.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

feat(kit)!: replace kitPresentReloadAlert with stateful KitReloadAlertController (0.0.3)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/http/kit-http.interceptor.ts
  projects/kit/src/lib/overlay/kit-reload-alert.controller.spec.ts
  projects/kit/src/lib/overlay/kit-reload-alert.controller.ts
  projects/kit/src/lib/overlay/reload-alert.spec.ts
  projects/kit/src/lib/overlay/reload-alert.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

chore(kit): bump to 0.0.4 (0.0.3 was published from source by mistake)
  projects/kit/package.json
Due: none

feat(kit): optional auth hooks + kitPresentAuthFailedAlert (0.0.5)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/auth/auth-guards.spec.ts
  projects/kit/src/lib/auth/auth-guards.ts
  projects/kit/src/lib/overlay/kit-auth-failed-alert.spec.ts
  projects/kit/src/lib/overlay/kit-auth-failed-alert.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

feat(kit): reverse-adopt tipsys patterns — popover, keyboard, utils (0.0.6)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/keyboard/kit-keyboard.controller.spec.ts
  projects/kit/src/lib/keyboard/kit-keyboard.controller.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
  projects/kit/src/lib/utils/array.spec.ts
  projects/kit/src/lib/utils/array.ts
  projects/kit/src/lib/utils/dom.spec.ts
  projects/kit/src/lib/utils/dom.ts
  projects/kit/src/lib/utils/object.spec.ts
  projects/kit/src/lib/utils/object.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

feat(kit)!: default presentToast to bottom position (0.0.7)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

feat(kit): auto-anchor bottom toast above a visible ion-tab-bar (0.0.8)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

feat(kit): safer, classified HTTP retry & error handling (0.0.9)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
Due: prettier --parser typescript --write

feat(kit): add timeoutMs + treatAsError to KitHttpConfig (0.0.10)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
Due: prettier --parser typescript --write

refactor(kit): universal 60s timeout instead of optional timeoutMs (0.0.10)
  projects/kit/README.md
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
Due: prettier --parser typescript --write

refactor(kit)!: KitKeyboardController → kitKeyboardInit function (0.0.11)
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/keyboard/kit-keyboard.controller.spec.ts
  projects/kit/src/lib/keyboard/kit-keyboard.controller.ts
  projects/kit/src/lib/keyboard/kit-keyboard.spec.ts
  projects/kit/src/lib/keyboard/kit-keyboard.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

feat(kit): haptic on modal/popover + shared alert stacking guard (0.0.12)
  projects/kit/package.json
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

feat(kit): theme controller, in-app review, language sheet, lifecycle utils, printer helpers (0.0.13)
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/overlay/kit-language-action-sheet.spec.ts
  projects/kit/src/lib/overlay/kit-language-action-sheet.ts
  projects/kit/src/lib/printer/kit-printer.spec.ts
  projects/kit/src/lib/printer/kit-printer.ts
  projects/kit/src/lib/review/kit-request-review.spec.ts
  projects/kit/src/lib/review/kit-request-review.ts
  projects/kit/src/lib/theme/kit-theme.controller.spec.ts
  projects/kit/src/lib/theme/kit-theme.controller.ts
  projects/kit/src/lib/theme/theme-config.ts
  projects/kit/src/lib/utils/ionic-scroll-event.spec.ts
  projects/kit/src/lib/utils/ionic-scroll-event.ts
  projects/kit/src/lib/utils/ionic-view-enter.spec.ts
  projects/kit/src/lib/utils/ionic-view-enter.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

refactor(kit): simplify kitDomToPng, kitRotationImage, kitChangeEventDisabled + optional peer deps
  projects/kit/package.json
  projects/kit/src/lib/printer/kit-printer.ts
  projects/kit/src/lib/utils/ionic-scroll-event.ts
Due: prettier --parser typescript --write

feat(kit): add reference-counted KitLoadingController
  projects/kit/src/lib/overlay/kit-loading.controller.spec.ts
  projects/kit/src/lib/overlay/kit-loading.controller.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

feat(kit)!: infer presentModal props and return type from the component
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

ci: add kit to test matrix
  .github/workflows/lint.yml
Due: none

docs: update presentModal examples to new inferred-typing API
  package-lock.json
  projects/kit/README.md
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

chore
  projects/kit/package.json
Due: none

refactor(kit)!: split printer/theme/review into secondary entry points (0.0.15)
  angular.json
  projects/kit/package.json
  projects/kit/printer/ng-package.json
  projects/kit/printer/src/kit-printer.spec.ts
  projects/kit/printer/src/kit-printer.ts
  projects/kit/printer/src/public-api.ts
  projects/kit/review/ng-package.json
  projects/kit/review/src/kit-request-review.spec.ts
  projects/kit/review/src/kit-request-review.ts
  projects/kit/review/src/public-api.ts
  projects/kit/src/public-api.ts
  projects/kit/theme/ng-package.json
  projects/kit/theme/src/kit-theme.controller.spec.ts
  projects/kit/theme/src/kit-theme.controller.ts
  projects/kit/theme/src/public-api.ts
  projects/kit/theme/src/theme-config.ts
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write

docs(kit): document presentModal required-vs-optional prop rule (defaulted input = required)
  projects/kit/README.md
Due: none

docs(kit): use 'declare static readonly modalReturn' (satisfies component-property-use-readonly)
  projects/kit/README.md
Due: none

feat(auth-firebase): Firebase auth flow library isolating @angular/fire
  angular.json
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/auth-firebase/ng-package.json
  projects/kit/auth-firebase/social/ng-package.json
  projects/kit/auth-firebase/social/src/kit-social.spec.ts
  projects/kit/auth-firebase/social/src/kit-social.ts
  projects/kit/auth-firebase/social/src/public-api.ts
  projects/kit/auth-firebase/src/kit-firebase-auth-config.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.spec.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.ts
  projects/kit/auth-firebase/src/kit-firebase-provider.ts
  projects/kit/auth-firebase/src/public-api.ts
  projects/kit/package.json
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write

feat(kit): remember & prefill the sign-in email via KitAuthInputDirective
  projects/kit/package.json
  projects/kit/src/lib/directives/auth-input.directive.spec.ts
  projects/kit/src/lib/directives/auth-input.directive.ts
  projects/kit/src/lib/directives/autofill.directive.ts
  projects/kit/src/lib/storage/kit-auth-email-store.spec.ts
  projects/kit/src/lib/storage/kit-auth-email-store.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

bump
  projects/kit/package.json
Due: none

fix(auth): fix signout from angular fire
  projects/kit/auth-firebase/social/src/kit-social.spec.ts
  projects/kit/auth-firebase/social/src/kit-social.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.spec.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.ts
  projects/kit/package.json
Due: prettier --parser typescript --write

feat(kit): bundle @angular/fire and add auth escape-hatch APIs
  projects/kit/auth-firebase/src/kit-firebase-auth.spec.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.ts
  projects/kit/auth-firebase/src/public-api.ts
  projects/kit/ng-package.json
  projects/kit/package.json
Due: prettier --parser typescript --write

fix(kit): anchor bottom toasts only to bottom tab bars
  projects/kit/README.md
  projects/kit/src/lib/overlay/kit-overlay.controller.spec.ts
  projects/kit/src/lib/overlay/kit-overlay.controller.ts
Due: prettier --parser typescript --write

released
  projects/kit/package.json
Due: none

feat(kit): centralize live update readiness
  .github/actions/validate-live-update/action.yml
  .github/actions/validate-live-update/validate-live-update.mjs
  angular.json
  package-lock.json
  package.json
  projects/kit/live-update/ng-package.json
  projects/kit/live-update/src/live-update-readiness.provider.spec.ts
  projects/kit/live-update/src/live-update-readiness.provider.ts
  projects/kit/live-update/src/public-api.ts
  projects/kit/package.json
  projects/kit/tsconfig.spec.json
Due: prettier --parser typescript --write

feat(kit): replace @angular/fire with vanilla firebase/auth
  projects/kit/README.md
  projects/kit/auth-firebase/social/src/kit-social.spec.ts
  projects/kit/auth-firebase/social/src/kit-social.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.spec.ts
  projects/kit/auth-firebase/src/kit-firebase-auth.ts
  projects/kit/auth-firebase/src/kit-firebase-provider.ts
  projects/kit/auth-firebase/src/public-api.ts
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

fix(kit): keep Angular 21 peers and version 0.0.23 for the firebase release
  projects/kit/package.json
Due: none

chore
  package-lock.json
  projects/kit/package.json
Due: none

feat(actions): add publish-live-update composite action with tested scripts
  .github/actions/publish-live-update/action.yml
  .github/actions/publish-live-update/publish-live-update.mjs
  .github/actions/publish-live-update/publish-live-update.spec.mjs
  .github/actions/validate-live-update/validate-live-update.mjs
  .github/actions/validate-live-update/validate-live-update.spec.mjs
  .github/actions/vitest.config.mjs
  .github/workflows/lint.yml
  package.json
Due: none

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
