Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore: update project versions to 21.7.0
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

docs: add Angular 22 and Ionic 9 migration guide
  README.md
  docs/migration.md
  package-lock.json
  package.json
  projects/kit/package.json
  projects/photo-editor/package.json
Due: none

docs: recommend the Ionic migration tool
  docs/migration.md
Due: none

fix!: release Ionic 9 support as version 22
  .github/workflows/lint.yml
  README.md
  docs/migration.md
  package-lock.json
  package.json
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

bump
  package.json
Due: none

22.0.0-0
  package-lock.json
  package.json
Due: none

chore: update project versions to 22.0.0-0
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

chore(demo): update ion-img to img[loading=lazy]
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.html
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

feat(photo-editor): require header button color scheme
  e2e/photo-editor-ios26.spec.ts
  package-lock.json
  package.json
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/photo-editor/css/ios26-header-button-color-scheme.css
  projects/photo-editor/docs/editor.md
  projects/photo-editor/docs/theme.md
  projects/photo-editor/docs/viewer.md
  projects/photo-editor/ng-package.json
  projects/photo-editor/package.json
  projects/photo-editor/src/assets/ios26-header-button-color-scheme.scss
  projects/photo-editor/src/lib/pages/core.scss
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.scss
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.scss
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.ts
  projects/photo-editor/src/lib/types.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat(photo-editor): prefix public component selectors
  e2e/photo-editor-ios26.spec.ts
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.ts
Due: prettier --parser typescript --write

docs: add library v22 migration guide
  README.md
  docs/migration.md
  package-lock.json
  projects/photo-editor/README.md
  projects/photo-editor/docs/theme.md
  projects/scroll-header/package.json
Due: none

feat(photo-editor)!: add explicit header schemes and prefixed selectors (#82)
  README.md
  docs/migration.md
  e2e/photo-editor-ios26.spec.ts
  package-lock.json
  package.json
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/photo-editor/README.md
  projects/photo-editor/css/ios26-header-button-color-scheme.css
  projects/photo-editor/docs/editor.md
  projects/photo-editor/docs/theme.md
  projects/photo-editor/docs/viewer.md
  projects/photo-editor/ng-package.json
  projects/photo-editor/package.json
  projects/photo-editor/src/assets/ios26-header-button-color-scheme.scss
  projects/photo-editor/src/lib/pages/core.scss
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.scss
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.scss
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.ts
  projects/photo-editor/src/lib/types.ts
  projects/scroll-header/package.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

test: cover public library behavior
  projects/kit/src/lib/types/component.spec.ts
  projects/kit/src/lib/utils/haptics.spec.ts
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.spec.ts
  projects/photo-editor/src/lib/pages/util.spec.ts
  projects/photo-editor/src/lib/services/photo-file.service.spec.ts
  projects/photo-editor/src/lib/services/photo-file.service.ts
  projects/scroll-header/src/lib/directives/fix-virtual-scroll-element.directive.spec.ts
  projects/scroll-header/src/lib/directives/scroll-header.directive.spec.ts
  projects/scroll-header/src/lib/directives/virtual-scroll-header.directive.spec.ts
  projects/scroll-header/src/lib/util.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.directive.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.spec.ts
Due: prettier --parser typescript --write

test(kit): make printer image tests deterministic
  projects/kit/printer/src/kit-printer.spec.ts
Due: prettier --parser typescript --write

test: cover public library behavior (#83)
  projects/kit/printer/src/kit-printer.spec.ts
  projects/kit/src/lib/types/component.spec.ts
  projects/kit/src/lib/utils/haptics.spec.ts
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.spec.ts
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.spec.ts
  projects/photo-editor/src/lib/pages/util.spec.ts
  projects/photo-editor/src/lib/services/photo-file.service.spec.ts
  projects/photo-editor/src/lib/services/photo-file.service.ts
  projects/scroll-header/src/lib/directives/fix-virtual-scroll-element.directive.spec.ts
  projects/scroll-header/src/lib/directives/scroll-header.directive.spec.ts
  projects/scroll-header/src/lib/directives/virtual-scroll-header.directive.spec.ts
  projects/scroll-header/src/lib/util.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.directive.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.spec.ts
Due: prettier --parser typescript --write

fix: address third-party acceptance feedback
  docs/migration.md
  projects/photo-editor/docs/editor.md
  projects/photo-editor/docs/photo-file.md
  projects/photo-editor/editor/src/lib/photo-editor.page.html
  projects/photo-editor/file/src/lib/photo-file.service.ts
  projects/photo-editor/src/tests/photo-editor.page.spec.ts
  projects/photo-editor/src/tests/photo-file.service.spec.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

refactor!: align photo file option names
  docs/migration.md
  projects/photo-editor/README.md
  projects/photo-editor/docs/photo-file.md
  projects/photo-editor/file/src/lib/photo-file.service.ts
  projects/photo-editor/src/lib/photo-editor.config.ts
  projects/photo-editor/src/tests/photo-file.service.spec.ts
  scripts/test-package-consumer.mjs
Due: prettier --parser typescript --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
