Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  projects/scroll-strategies/package.json
Due: none

fix(dynamic): fix range end when endBuffer is 0
  projects/scroll-strategies/package.json
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

chore(demo): add link of source code
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/scroll-strategies/README.md
Due: none

chore: update readme
  LICENSE
  README.md
Due: none

chore
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.html
Due: prettier --parser angular --write

chore(): remove same build command
  release.mjs
Due: none

chore(demo): change path from 'tab*'
  projects/demo/src/app/tabs/tabs.page.html
  projects/demo/src/app/tabs/tabs.routes.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/demo/src/app/tabs/tabs.page.html
Due: prettier --parser angular --write

feat(demo): change structure to add some scroll sample
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/scroll-strategies/scroll-strategies.routes.ts
  projects/demo/src/app/tabs/tabs.routes.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat(demo): add infinite scroll
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
Due: prettier --parser typescript --write

feat(demo): add frame
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.html
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.scss
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.spec.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.spec.ts
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.ts
  projects/demo/src/app/scroll-strategies/scroll-strategies.routes.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

bump
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.html
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.ts
  projects/demo/src/app/scroll-strategies/scroll-strategies.type.ts
  projects/demo/src/index.html
  projects/demo/src/styles.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

fix(strategies): fix end items for infinite scroll
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

feat(demo): add delete function
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.html
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.scss
Due: prettier --parser angular --write, prettier --parser scss --write

feat(demo): add demo of using DynamicSizeVirtualScrollService
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.html
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/tabs/tabs.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
Due: prettier --parser typescript --write

feat(demo): add reverse scroll
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/styles.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

fmt
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/demo/src/app/tabs/tabs.routes.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
Due: prettier --parser typescript --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.html
Due: prettier --parser angular --write

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.scss
  projects/demo/src/styles.scss
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

update readme
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.scss
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.scss
  projects/demo/src/styles.scss
  projects/scroll-header/README.md
  projects/scroll-strategies/README.md
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
Due: prettier --parser typescript --write, prettier --parser scss --write

chore
  projects/scroll-header/README.md
  projects/scroll-strategies/README.md
Due: none

chore
  README.md
Due: none

chore
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
Due: prettier --parser typescript --write

2.0.0
  package-lock.json
  package.json
Due: none

chore
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
  release.mjs
Due: none

2.0.1
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

chore
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

feat(): library angular version to 19
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

chore(ng): update to 19
  package-lock.json
  package.json
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
