Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

docs(actions): document live update channel model and action usage
  .github/actions/README.md
Due: none

docs(kit): document live update readiness and channel model in kit README
  .github/actions/README.md
  projects/kit/README.md
Due: none

released
  projects/kit/package.json
Due: none

fix(actions): pass bundlePath to Capawesome live update bundle
  .github/actions/publish-live-update/publish-live-update.mjs
  .github/actions/publish-live-update/publish-live-update.spec.mjs
Due: none

fix(actions): avoid Capawesome --git-ref on local upload
  .github/actions/publish-live-update/action.yml
  .github/actions/publish-live-update/publish-live-update.mjs
  .github/actions/publish-live-update/publish-live-update.spec.mjs
Due: none

feat(demo): add Kit Auth Firebase demo with Playwright e2e
  .github/workflows/lint.yml
  .gitignore
  README.md
  angular.json
  e2e/auth-signup-signin.spec.ts
  e2e/helpers.ts
  package-lock.json
  package.json
  playwright.config.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/kit/auth/auth.routes.ts
  projects/demo/src/app/kit/auth/auth.service.ts
  projects/demo/src/app/kit/auth/pages/auth/auth.page.html
  projects/demo/src/app/kit/auth/pages/auth/auth.page.ts
  projects/demo/src/app/kit/auth/pages/confirm/confirm.page.html
  projects/demo/src/app/kit/auth/pages/confirm/confirm.page.ts
  projects/demo/src/app/kit/auth/pages/home/home.page.html
  projects/demo/src/app/kit/auth/pages/home/home.page.ts
  projects/demo/src/app/kit/auth/pages/reset-password/reset-password.page.html
  projects/demo/src/app/kit/auth/pages/reset-password/reset-password.page.ts
  projects/demo/src/app/kit/auth/pages/signin/signin.page.html
  projects/demo/src/app/kit/auth/pages/signin/signin.page.ts
  projects/demo/src/app/kit/auth/pages/signup/signup.page.html
  projects/demo/src/app/kit/auth/pages/signup/signup.page.ts
  projects/demo/src/app/kit/kit.routes.ts
  projects/demo/src/app/kit/pages/kit/kit.page.html
  projects/demo/src/app/kit/pages/kit/kit.page.ts
  projects/demo/src/app/tabs/tabs.page.html
  projects/demo/src/app/tabs/tabs.routes.ts
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

fix(demo): omit Firebase web apiKey from Netlify secrets scan
  netlify.toml
Due: none

feat(kit): 0.0.27 clear-preserving keys and KIT_THEME_STORAGE_KEY
  e2e/auth-signup-signin.spec.ts
  projects/demo/src/app/kit/auth/auth.service.ts
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/src/lib/storage/kit-auth-email-store.spec.ts
  projects/kit/src/lib/storage/kit-clear-storage.spec.ts
  projects/kit/src/lib/storage/kit-clear-storage.ts
  projects/kit/src/lib/storage/kit-storage-keys.ts
  projects/kit/src/public-api.ts
  projects/kit/theme/src/theme-config.ts
Due: prettier --parser typescript --write

feat(release): include kit in prebuild and publish prereleases as beta
  .github/workflows/release.yml
  README.md
  package.json
  projects/kit/README.md
  projects/kit/package.json
Due: none

chore: ignore .claude so np release is not blocked by agent worktrees
  .gitignore
Due: none

21.2.0-0
  package-lock.json
  package.json
Due: none

fix(release): allow git deps on npm ci (npm v12 EALLOWGIT)
  .github/workflows/release.yml
  .npmrc
Due: none

fix(release): allow git deps on npm ci (npm v12 EALLOWGIT) (#17)
  .github/workflows/release.yml
  .npmrc
Due: none

21.2.0-1
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.2.0-1
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

21.2.0-2
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.2.0-2
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

fix(kit): add repository url for npm provenance publish
  projects/kit/package.json
Due: none

fix(kit): add repository url for npm provenance publish (#18)
  projects/kit/package.json
Due: none

21.2.0-3
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.2.0-3
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

21.2.0-4
  package-lock.json
  package.json
Due: none

feat(kit): add maintenance lock overlay and HTTP onMaintenance hook
  projects/kit/src/lib/http/kit-http.interceptor.spec.ts
  projects/kit/src/lib/http/kit-http.interceptor.ts
  projects/kit/src/lib/overlay/kit-maintenance.controller.spec.ts
  projects/kit/src/lib/overlay/kit-maintenance.controller.ts
  projects/kit/src/public-api.ts
Due: prettier --parser typescript --write

chore: update project versions to 21.2.0-4
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

feat: classify mobile releases for store publishing
  .github/actions/classify-mobile-release/action.yml
  .github/actions/classify-mobile-release/classify-mobile-release.mjs
  .github/actions/classify-mobile-release/classify-mobile-release.spec.mjs
  .github/actions/vitest.config.mjs
  package.json
  projects/kit/README.md
Due: none

fix: harden release classifier inputs
  .github/actions/classify-mobile-release/action.yml
Due: none

docs: describe mobile releases in English
  projects/kit/README.md
Due: none

feat: classify mobile releases for store publishing (#19)
  .github/actions/classify-mobile-release/action.yml
  .github/actions/classify-mobile-release/classify-mobile-release.mjs
  .github/actions/classify-mobile-release/classify-mobile-release.spec.mjs
  .github/actions/vitest.config.mjs
  package.json
  projects/kit/README.md
Due: none

Add shared PDF label builder
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/printer/src/kit-pdf-printer.spec.ts
  projects/kit/printer/src/kit-pdf-printer.ts
  projects/kit/printer/src/public-api.ts
Due: prettier --parser typescript --write

Document PDF peer dependency
  projects/kit/README.md
Due: none

Add shared PDF label builder (#20)
  package-lock.json
  package.json
  projects/kit/README.md
  projects/kit/package.json
  projects/kit/printer/src/kit-pdf-printer.spec.ts
  projects/kit/printer/src/kit-pdf-printer.ts
  projects/kit/printer/src/public-api.ts
Due: prettier --parser typescript --write

chore: update project versions to 21.2.0-5
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

fix dynamic virtual scroll geometry
  projects/scroll-strategies/README.md
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

refactor virtual scroll utilities
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.ts
  projects/scroll-strategies/src/public-api.ts
Due: prettier --parser typescript --write

fix(kit): disable Ionic form submitters
  projects/kit/src/lib/utils/dom.spec.ts
  projects/kit/src/lib/utils/dom.ts
Due: prettier --parser typescript --write

fix(kit): disable Ionic form submitters (#22)
  projects/kit/src/lib/utils/dom.spec.ts
  projects/kit/src/lib/utils/dom.ts
Due: prettier --parser typescript --write

21.2.0-6
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.2.0-6
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

Fix dynamic virtual scroll geometry (#21)
  projects/scroll-strategies/README.md
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.util.ts
  projects/scroll-strategies/src/public-api.ts
Due: prettier --parser typescript --write

feat: export ReactiveHost, ComponentPropsType, and photo modal props
  projects/kit/src/lib/types/component.ts
  projects/kit/src/public-api.ts
  projects/photo-editor/src/lib/types.ts
Due: prettier --parser typescript --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
