Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

.lintstagedrc.yml:

"*.ts":
  - prettier --parser typescript --write
"*.html":
  - prettier --parser angular --write
"*.scss":
  - prettier --parser scss --write

chore
  README.md
Due: none

20.0.1
  package-lock.json
  package.json
Due: none

chore(): devinの例を修正
  angular.json
  karma.conf.js
  package.json
  test-headless.sh
Due: none

feat(): add theme-ios26
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.html
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/tabs/tabs.page.html
  projects/demo/src/app/tabs/tabs.page.scss
  projects/demo/src/styles.scss
  projects/ionic-theme-ios26/README.md
  projects/ionic-theme-ios26/css/ionic-theme-ios26.css
  projects/ionic-theme-ios26/css/ionic-theme-ios26.css.map
  projects/ionic-theme-ios26/ng-package.json
  projects/ionic-theme-ios26/package.json
  projects/ionic-theme-ios26/src/assets/ion-button.scss
  projects/ionic-theme-ios26/src/assets/ion-popover.scss
  projects/ionic-theme-ios26/src/assets/ion-searchbar.scss
  projects/ionic-theme-ios26/src/assets/ion-segment.scss
  projects/ionic-theme-ios26/src/assets/ion-tabs.scss
  projects/ionic-theme-ios26/src/assets/ios-design-dark.scss
  projects/ionic-theme-ios26/src/assets/ios-design.scss
  projects/ionic-theme-ios26/src/assets/ios-talk-room.scss
  projects/ionic-theme-ios26/src/assets/ios-variables.scss
  projects/ionic-theme-ios26/src/public-api.ts
  projects/ionic-theme-ios26/tsconfig.lib.json
  projects/ionic-theme-ios26/tsconfig.lib.prod.json
  projects/ionic-theme-ios26/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore(): add gitignore
  .gitignore
  projects/ionic-theme-ios26/css/ionic-theme-ios26.css
  projects/ionic-theme-ios26/css/ionic-theme-ios26.css.map
Due: none

chore(): rename package name
  projects/ionic-theme-ios26/package.json
Due: none

chore
  package.json
Due: none

fmt
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/health/health-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/simple/simple-page.component.ts
Due: prettier --parser typescript --write

chore
  projects/ionic-theme-ios26/README.md
Due: none

chore
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.html
  projects/demo-ionic-theme-ios26/src/app/health/health-page.component.html
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.html
  projects/demo-ionic-theme-ios26/src/app/simple/simple-page.component.html
Due: prettier --parser angular --write

fmt
  projects/demo-ionic-theme-ios26/src/app/simple/simple-page.component.ts
Due: prettier --parser typescript --write

feat(demo): implement settings
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.html
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.scss
  projects/demo-ionic-theme-ios26/src/styles.scss
  projects/ionic-theme-ios26/src/assets/ion-list-inset.scss
  projects/ionic-theme-ios26/src/assets/ios-design.scss
  projects/ionic-theme-ios26/src/assets/ios-design/ion-button.scss
Due: prettier --parser angular --write, prettier --parser scss --write

chore(): add ion-toggle
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.html
  projects/ionic-theme-ios26/src/assets/ios-design/ion-toggle.scss
Due: prettier --parser angular --write, prettier --parser scss --write

chore
  projects/demo-ionic-theme-ios26/src/index.html
Due: prettier --parser angular --write

chore
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/health/health-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/simple/simple-page.component.ts
Due: prettier --parser typescript --write

feat(): add library
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.html
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.scss
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.ts
  projects/demo-ionic-theme-ios26/src/app/tabs/tabs.page.html
  projects/ionic-theme-ios26/src/assets/ios-design.scss
  projects/ionic-theme-ios26/src/assets/ios-design/ion-button.scss
  projects/ionic-theme-ios26/src/assets/ios-variables.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  projects/demo-ionic-theme-ios26/src/app/settings/settings-page.component.html
Due: prettier --parser angular --write

chore(): change image size for desktop
  projects/demo-ionic-theme-ios26/src/app/album/album-page.component.html
Due: prettier --parser angular --write

bump
  package.json
  projects/ionic-theme-ios26/README.md
  projects/ionic-theme-ios26/package.json
  projects/ionic-theme-ios26/src/assets/ion-list-inset.scss
Due: prettier --parser scss --write

feat(): fix performance by transformY to transform3d
  projects/scroll-header/assets/scroll-header.directive.css
  projects/scroll-header/src/assets/scroll-header.directive.scss
Due: prettier --parser scss --write

feat(): fix performance by without opacity and cubic-bezier
  projects/scroll-header/assets/scroll-header.directive.css
  projects/scroll-header/src/assets/scroll-header.directive.scss
Due: prettier --parser scss --write

fix: remove un nessesary scroll event
  projects/scroll-header/src/lib/directives/scroll-header.directive.ts
  projects/scroll-header/src/lib/directives/virtual-scroll-header.directive.ts
Due: prettier --parser typescript --write

20.0.2
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

Revert "feat(): fix performance by without opacity and cubic-bezier"
  projects/scroll-header/assets/scroll-header.directive.css
  projects/scroll-header/src/assets/scroll-header.directive.scss
Due: prettier --parser scss --write

20.0.3
  package-lock.json
  package.json
Due: none

feat(ng): update to 21
  package-lock.json
  package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
  tsconfig.json
Due: none

21.0.0
  package-lock.json
  package.json
Due: none

feat(photo): update button design submit
  projects/photo-editor/src/lib/pages/photo-editor/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-viewer/photo-viewer.page.html
Due: prettier --parser angular --write

21.0.1
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
  release.mjs
Due: none

chore
  package-lock.json
Due: none

chore
  release.mjs
Due: none

21.0.2
  package-lock.json
  package.json
Due: none
