Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

.lintstagedrc.yml:

"*.ts":
  - prettier --parser typescript --write
"*.html":
  - prettier --parser angular --write
"*.scss":
  - prettier --parser scss --write

1.1.0
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
Due: none

fix(browser): run cancel event
  package-lock.json
  projects/photo-editor/src/lib/service/photo-file.service.ts
Due: prettier --parser typescript --write

1.1.1
  package-lock.json
  package.json
Due: none

feat(scroll-header): add code
  angular.json
  package-lock.json
  package.json
  projects/scroll-header/README.md
  projects/scroll-header/ng-package.json
  projects/scroll-header/package.json
  projects/scroll-header/src/lib/scroll-header.directive.scss
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
  projects/scroll-header/src/public-api.ts
  projects/scroll-header/tsconfig.lib.json
  projects/scroll-header/tsconfig.lib.prod.json
  projects/scroll-header/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write, prettier --parser scss --write

feat(demo): change demo to tabs
  angular.json
  ionic.config.json
  package-lock.json
  package.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.html
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.scss
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.spec.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.html
  projects/demo/src/app/scroll-header/scroll-header.page.scss
  projects/demo/src/app/scroll-header/scroll-header.page.spec.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/tabs/tabs.page.html
  projects/demo/src/app/tabs/tabs.page.scss
  projects/demo/src/app/tabs/tabs.page.spec.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/demo/src/app/tabs/tabs.routes.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.scss
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.spec.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/scroll-header/package.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat(demo): add demo
  package-lock.json
  package.json
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.html
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.scss
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/demo/src/styles.scss
  projects/demo/tsconfig.app.json
  projects/scroll-header/assets/scroll-header.directive.css
  projects/scroll-header/assets/scroll-header.directive.css.map
  projects/scroll-header/css/scroll-header.directive.css
  projects/scroll-header/css/scroll-header.directive.css.map
  projects/scroll-header/ng-package.json
  projects/scroll-header/package.json
  projects/scroll-header/src/assets/scroll-header.directive.scss
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  projects/demo/src/app/scroll-header/scroll-header.page.ts
Due: prettier --parser typescript --write

chore
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.html
  projects/demo/src/app/scroll-header/scroll-header.page.html
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.scss
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/demo/src/styles.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

update readme
  README.md
  projects/photo-editor/README.md
  projects/scroll-header/README.md
Due: none

chore
  projects/demo/src/app/tabs/tabs.routes.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  release.mjs
Due: none

chore(): add gitignore
  .gitignore
  projects/scroll-header/css/scroll-header.directive.css
  projects/scroll-header/css/scroll-header.directive.css.map
Due: none

1.2.0
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
  projects/scroll-header/package.json
Due: none

fix(demo): fix bug of virtual scroll
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/demo/src/styles.scss
  projects/scroll-header/README.md
Due: prettier --parser typescript --write, prettier --parser scss --write

chore
  projects/scroll-header/README.md
Due: none

fmt
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/service/helper.service.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
Due: prettier --parser typescript --write

feat(scroll): add native-header
  projects/scroll-header/README.md
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
Due: prettier --parser typescript --write

chore(demo): add line to virtual scroll
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
Due: prettier --parser typescript --write

1.2.1
  package-lock.json
  package.json
Due: none

released
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.html
  projects/demo/src/app/scroll-header/scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/photo-editor/package.json
  projects/scroll-header/package.json
Due: prettier --parser angular --write

feat(): add directive of rdlaboFixVirtualScrollElement
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/scroll-header/README.md
  projects/scroll-header/src/lib/fix-virtual-scroll-element.directive.ts
  projects/scroll-header/src/lib/helper.ts
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
  projects/scroll-header/src/public-api.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

1.3.0
  package-lock.json
  package.json
Due: none

Update README.md
  projects/photo-editor/README.md
Due: none

released
  package-lock.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
Due: none

chore(): remove unused css
  projects/scroll-header/src/assets/scroll-header.directive.scss
Due: prettier --parser scss --write

feat(): add base code
  angular.json
  projects/dynamic-size-virtual-scroll/README.md
  projects/dynamic-size-virtual-scroll/ng-package.json
  projects/dynamic-size-virtual-scroll/package.json
  projects/dynamic-size-virtual-scroll/src/lib/dynamic-size-virtual-scroll.directive.spec.ts
  projects/dynamic-size-virtual-scroll/src/lib/dynamic-size-virtual-scroll.directive.ts
  projects/dynamic-size-virtual-scroll/src/lib/dynamic-size-virtual-scroll.service.spec.ts
  projects/dynamic-size-virtual-scroll/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/dynamic-size-virtual-scroll/src/public-api.ts
  projects/dynamic-size-virtual-scroll/tsconfig.lib.json
  projects/dynamic-size-virtual-scroll/tsconfig.lib.prod.json
  projects/dynamic-size-virtual-scroll/tsconfig.spec.json
  tsconfig.json
Due: prettier --parser typescript --write

feat(): rename project
  angular.json
  package.json
  projects/scroll-strategies/README.md
  projects/scroll-strategies/ng-package.json
  projects/scroll-strategies/package.json
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.spec.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
  projects/scroll-strategies/src/public-api.ts
  projects/scroll-strategies/tsconfig.lib.json
  projects/scroll-strategies/tsconfig.lib.prod.json
  projects/scroll-strategies/tsconfig.spec.json
Due: prettier --parser typescript --write

chore
  projects/scroll-strategies/package.json
Due: none

feat(): add demo
  package-lock.json
  package.json
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.scss
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.spec.ts
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/tabs/tabs.page.html
  projects/demo/src/app/tabs/tabs.routes.ts
  projects/scroll-strategies/ng-package.json
  tsconfig.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat(): work directive
  package-lock.json
  package.json
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.scss
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

chore
  projects/demo/src/app/scroll-strategies/scroll-strategies.page.ts
Due: prettier --parser typescript --write

feat(): update readme
  projects/scroll-strategies/README.md
Due: none

update readme
  projects/scroll-header/README.md
  projects/scroll-strategies/README.md
Due: none
