Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

update
  README.md
  prettier.config.js
  projects/photo-editor/src/lib/dictionary.ts
  projects/photo-editor/src/lib/filter-preset.ts
  projects/photo-editor/src/lib/ion-components.ts
  projects/photo-editor/src/lib/page/photo-editor.page.html
  projects/photo-editor/src/lib/page/photo-editor.page.scss
  projects/photo-editor/src/lib/page/photo-editor.page.ts
  projects/photo-editor/src/lib/photo-editor.page.html
  projects/photo-editor/src/lib/photo-editor.service.ts
  projects/photo-editor/src/lib/service/photo-editor.service.spec.ts
  projects/photo-editor/src/lib/service/photo-editor.service.ts
  projects/photo-editor/src/lib/types.ts
  projects/photo-editor/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/main.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore
  README.md
Due: prettier --write

feat(): prepare auto release
  package-lock.json
  package.json
  release.js
Due: prettier --write

chore
  release.js
Due: prettier --write

0.0.1
  package-lock.json
  package.json
Due: prettier --write

feat(): prepare release settings
  package-lock.json
  package.json
  projects/photo-editor/package.json
  release.js
Due: prettier --write

chore
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

0.0.2
  package-lock.json
  package.json
Due: prettier --write

chore
  .lintstagedrc.yml
  .prettierignore
  angular.json
  projects/photo-editor/package.json
Due: prettier --write

fix(): add prebuild
  package.json
Due: prettier --write

feat(): add photo-viewer
  package-lock.json
  package.json
  projects/photo-editor/.gitignore
  projects/photo-editor/node_modules/.package-lock.json
  projects/photo-editor/package-lock.json
  projects/photo-editor/package.json
  projects/photo-editor/src/lib/pages/core.scss
  projects/photo-editor/src/lib/pages/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor.page.scss
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.scss
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/service/helper.service.spec.ts
  projects/photo-editor/src/lib/service/helper.service.ts
  projects/photo-editor/src/lib/types.ts
  projects/photo-editor/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/styles.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore(): release script to mjs
  package.json
  release.mjs
Due: prettier --write

feat(): update readme for viewer
  README.md
  projects/photo-editor/src/lib/dictionaries.ts
  projects/photo-editor/src/lib/filter-preset.ts
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.scss
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/types.ts
  src/app/app.component.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore(provider): change scope at helper service
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/service/helper.service.ts
Due: prettier --parser typescript --write

feat(): add PhotoFileService service
  README.md
  package-lock.json
  projects/photo-editor/node_modules/.package-lock.json
  projects/photo-editor/package-lock.json
  projects/photo-editor/package.json
  projects/photo-editor/src/lib/service/photo-file.service.spec.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
  projects/photo-editor/src/public-api.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/index.html
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

feat(): move demo folder
  angular.json
  package-lock.json
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.scss
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/assets/.gitkeep
  projects/demo/src/favicon.ico
  projects/demo/src/index.html
  projects/demo/src/main.ts
  projects/demo/src/styles.scss
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

chore
  package.json
Due: prettier --write

chore(demo): change to button at item
  projects/demo/src/app/app.component.html
Due: prettier --parser angular --write

fix(): error to be enum
  projects/photo-editor/src/lib/photoEditorErrors.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
Due: prettier --parser typescript --write

feat(): add enable safe area to photo viewer
  README.md
  package.json
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

feat(): enable to change label at action-sheet
  README.md
  projects/demo/src/app/app.component.ts
  projects/photo-editor/src/lib/dictionaries.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
  projects/photo-editor/src/lib/types.ts
Due: prettier --parser typescript --write, prettier --write

fmt
  projects/photo-editor/src/lib/dictionaries.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
Due: prettier --parser typescript --write

0.0.3
  package-lock.json
  package.json
Due: prettier --write

released
  projects/photo-editor/package.json
Due: prettier --write

feat(viewer): when delete, enable to get delete information
  projects/demo/src/app/app.component.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/types.ts
Due: prettier --parser typescript --write

0.0.4
  package-lock.json
  package.json
Due: prettier --write

feat(): change to esbuild
  angular.json
  capacitor.config.ts
  ios/App/Podfile.lock
  projects/photo-editor/package.json
Due: prettier --parser typescript --write, prettier --write

chore
  angular.json
  package.json
Due: prettier --write

feat(): update to capacitor 6 / ionic 8
  android/app/build.gradle
  android/build.gradle
  android/variables.gradle
  package-lock.json
  package.json
  projects/photo-editor/node_modules/.package-lock.json
  projects/photo-editor/package-lock.json
  projects/photo-editor/package.json
Due: prettier --write

feat(): to be able to define color
  README.md
  projects/demo/src/styles.scss
  projects/photo-editor/src/lib/pages/core.scss
  projects/photo-editor/src/lib/pages/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor.page.scss
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.scss
Due: prettier --parser angular --write, prettier --parser scss --write, prettier --write

feat(): update support environment
  README.md
Due: prettier --write

1.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(): update demo
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
  projects/photo-editor/package.json
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

chore
  projects/demo/src/index.html
Due: prettier --parser angular --write

chore(ng): update
  package-lock.json
  package.json
Due: prettier --write

chore
  projects/photo-editor/node_modules/.package-lock.json
  projects/photo-editor/package-lock.json
  projects/photo-editor/package.json
Due: prettier --write

chore
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
  prettier --write: any of: *.{js,json,yml,md}
