Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

.lintstagedrc.yml:

"*.ts":
  - prettier --parser typescript --write
"*.html":
  - prettier --parser angular --write
"*.scss":
  - prettier --parser scss --write

chore(): remove unused component
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
Due: prettier --parser typescript --write

chore
  package-lock.json
  package.json
Due: none

19.0.0
  package-lock.json
  package.json
Due: none

chore
  release.mjs
Due: none

released
  README.md
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

chore
  tsconfig.json
Due: none

fix(scroll): be able to reach end item
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

19.0.1
  package-lock.json
  package.json
Due: none

released
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

feat(): update deprecated packages
  package-lock.json
  package.json
  projects/scroll-header/src/assets/scroll-header.directive.scss
Due: prettier --parser scss --write

19.0.2
  package-lock.json
  package.json
Due: none

fix(): support capacitor7
  projects/photo-editor/package.json
Due: none

19.0.3
  package-lock.json
  package.json
Due: none

chore(ng): update to 20
  angular.json
  package-lock.json
  package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
  tsconfig.json
Due: none

feat(test): fix test
  projects/demo/mocks/angular/angular-delegate.ts
  projects/demo/mocks/angular/ion-router-outlet.ts
  projects/demo/mocks/angular/modal-controller.ts
  projects/demo/mocks/angular/nav-controller.ts
  projects/demo/mocks/angular/popover-controller.ts
  projects/demo/mocks/util/base.mock.ts
  projects/demo/mocks/util/overlay.ts
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.spec.ts
  projects/demo/src/app/scroll-header/scroll-header.page.spec.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.spec.ts
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.spec.ts
  projects/demo/src/app/tabs/tabs.page.spec.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.spec.ts
  projects/demo/src/test.config.ts
Due: prettier --parser typescript --write

fmt
  projects/demo/mocks/angular/angular-delegate.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.spec.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/tabs/tabs.page.spec.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.spec.ts
  projects/demo/src/test.config.ts
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write

20.0.0
  package-lock.json
  package.json
Due: none

chore
  README.md
  projects/scroll-strategies/README.md
Due: none

chore: to signal to use ng generate @angular/core
  projects/demo/src/app/app.config.ts
  projects/photo-editor/src/lib/pages/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

feat(photo-editor): to signal-based
  projects/photo-editor/src/lib/pages/photo-editor.page.html
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.html
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/photoEditorErrors.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

feat(scroll-header): update to signal-based
  projects/scroll-header/src/lib/fix-virtual-scroll-element.directive.ts
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
Due: prettier --parser typescript --write

chore
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write

refactor(multiple): remove standalone flag
  projects/scroll-header/src/lib/fix-virtual-scroll-element.directive.ts
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

chore
  package-lock.json
Due: none

feat(scroll): update to signal-based
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

refactor(scroll): use method directly
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
Due: prettier --parser typescript --write

feat(input): allow many input value using cdk
  projects/photo-editor/node_modules/.package-lock.json
  projects/photo-editor/package-lock.json
  projects/photo-editor/package.json
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
Due: prettier --parser typescript --write

feat: update to zoneless
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write

feat(): add eslint
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  projects/demo/eslint.config.js
  projects/photo-editor/eslint.config.js
  projects/scroll-header/eslint.config.js
  projects/scroll-strategies/eslint.config.js
Due: none

fix(): support current lint
  eslint.config.js
  projects/demo/eslint.config.js
  projects/demo/mocks/util/base.mock.ts
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.ts
  projects/demo/src/app/scroll-header/scroll-header.page.ts
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.ts
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.ts
  projects/demo/src/app/scroll-strategies/scroll-advanced-calc.service.ts
  projects/demo/src/app/scroll-strategies/scroll-strategies.type.ts
  projects/demo/src/app/tabs/tabs.page.ts
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.ts
  projects/photo-editor/eslint.config.js
  projects/photo-editor/src/lib/pages/photo-editor.page.ts
  projects/photo-editor/src/lib/pages/photo-viewer.page.ts
  projects/photo-editor/src/lib/service/helper.service.ts
  projects/photo-editor/src/lib/service/photo-file.service.ts
  projects/scroll-header/eslint.config.js
  projects/scroll-header/src/lib/fix-virtual-scroll-element.directive.ts
  projects/scroll-header/src/lib/scroll-header.directive.ts
  projects/scroll-header/src/lib/virtual-scroll-header.directive.ts
  projects/scroll-strategies/eslint.config.js
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll-strategy.ts
  projects/scroll-strategies/src/lib/dynamic-size-virtual-scroll.service.ts
Due: prettier --parser typescript --write

feat(ci): add lint actions
  .github/workflows/lint.yml
Due: none

fix(): fix typo component name
  projects/demo/src/app/scroll-strategies/components/scroll-advanced-item/scroll-advanced-item.component.ts
Due: prettier --parser typescript --write

fix(ci): run build before test
  .github/workflows/lint.yml
Due: none

chore(): remove package-lock.json
  projects/photo-editor/package-lock.json
Due: none
