Repository rdlabo-team/ionic-angular-library: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

.lintstagedrc.yml:

"*.ts":
  - prettier --parser typescript --write
"*.html":
  - prettier --parser angular --write
"*.scss":
  - prettier --parser scss --write

chore: update project versions to 21.6.2
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

Make offline upgrades lossless
  projects/kit/offline/src/lib/offline-replica-pull.service.spec.ts
  projects/kit/offline/src/lib/offline-replica-pull.service.ts
  projects/kit/offline/src/lib/offline-repository.spec.ts
  projects/kit/offline/src/lib/offline-repository.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.spec.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.ts
Due: prettier --parser typescript --write

Update references after GitHub organization transfer
  AGENTS.md
  LICENSE
  README.md
  package.json
  projects/demo/src/app/photo-editor/demo-photo-editor-page.component.html
  projects/demo/src/app/scroll-header/scroll-header.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-advanced/scroll-advanced.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-reverse/scroll-reverse.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-simple/scroll-simple.page.html
  projects/demo/src/app/scroll-strategies/pages/scroll-strategies/scroll-strategies.page.html
  projects/demo/src/app/virtual-scroll-header/virtual-scroll-header.page.html
  projects/ionic-theme-ios26/README.md
  projects/kit/README.md
  projects/kit/package.json
  projects/photo-editor/README.md
  projects/photo-editor/package.json
  projects/scroll-header/README.md
  projects/scroll-header/package.json
  projects/scroll-strategies/README.md
  projects/scroll-strategies/package.json
Due: prettier --parser angular --write

feat(offline): share read settlement metadata
  projects/kit/offline/src/lib/offline-request-policy.spec.ts
  projects/kit/offline/src/lib/offline-request-policy.ts
Due: prettier --parser typescript --write

feat(offline): share read settlement metadata (#78)
  projects/kit/offline/src/lib/offline-request-policy.spec.ts
  projects/kit/offline/src/lib/offline-request-policy.ts
Due: prettier --parser typescript --write

21.6.3
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.3
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

21.6.4
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.4
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

point READMEs to centralized documentation
  README.md
  projects/kit/README.md
  projects/photo-editor/README.md
  projects/scroll-header/README.md
  projects/scroll-strategies/README.md
Due: none

point READMEs to centralized documentation (#79)
  README.md
  projects/kit/README.md
  projects/photo-editor/README.md
  projects/scroll-header/README.md
  projects/scroll-strategies/README.md
Due: none

chore: update project versions to 21.6.5
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

perf(offline): unblock local startup from network discovery
  projects/kit/offline/src/lib/offline-coordinator.service.spec.ts
  projects/kit/offline/src/lib/offline-coordinator.service.ts
  projects/kit/offline/src/lib/offline-mutation-persistence.service.spec.ts
  projects/kit/offline/src/lib/offline-mutation-persistence.service.ts
  projects/kit/offline/src/lib/offline-provider.spec.ts
  projects/kit/offline/src/lib/offline-provider.ts
  projects/kit/offline/src/lib/offline-sync.service.spec.ts
  projects/kit/offline/src/lib/offline-sync.service.ts
Due: prettier --parser typescript --write

chore: align root version with 21.6.5
  package-lock.json
  package.json
Due: none

21.6.6
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.6
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

perf(offline): restore outbox commands by user
  projects/kit/offline/src/lib/offline-sync.service.spec.ts
  projects/kit/offline/src/lib/offline-sync.service.ts
Due: prettier --parser typescript --write

21.6.7
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.7
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

fix(offline): serialize snapshot reads with mutations
  projects/kit/offline/src/lib/offline-replica-mutation-coordinator.spec.ts
  projects/kit/offline/src/lib/offline-replica-mutation-coordinator.ts
  projects/kit/offline/src/lib/offline.interceptor.spec.ts
  projects/kit/offline/src/lib/offline.interceptor.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.spec.ts
Due: prettier --parser typescript --write

21.6.8
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.8
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

fix: allow native patch store releases
  .github/actions/classify-mobile-release/classify-mobile-release.mjs
  .github/actions/classify-mobile-release/classify-mobile-release.spec.mjs
  projects/kit/README.md
Due: none

Revert "fix: allow native patch store releases"
  .github/actions/classify-mobile-release/classify-mobile-release.mjs
  .github/actions/classify-mobile-release/classify-mobile-release.spec.mjs
  projects/kit/README.md
Due: none

fix offline sqlite lifecycle recovery
  projects/kit/offline/src/lib/sqlite-offline-repository.spec.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.ts
Due: prettier --parser typescript --write

fix(offline): suspend sync across app backgrounding
  projects/kit/offline/src/lib/offline-network.service.spec.ts
  projects/kit/offline/src/lib/offline-network.service.ts
  projects/kit/offline/src/lib/offline-sync.service.spec.ts
  projects/kit/offline/src/lib/offline-sync.service.ts
Due: prettier --parser typescript --write

21.6.9
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.9
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

test(offline): isolate capacitor lifecycle seams
  projects/kit/offline/src/lib/offline-network.service.spec.ts
  projects/kit/offline/src/lib/offline-network.service.ts
Due: prettier --parser typescript --write

Make offline upgrades lossless (#77)
  projects/kit/offline/src/lib/offline-replica-pull.service.spec.ts
  projects/kit/offline/src/lib/offline-replica-pull.service.ts
  projects/kit/offline/src/lib/offline-repository.spec.ts
  projects/kit/offline/src/lib/offline-repository.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.spec.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.ts
Due: prettier --parser typescript --write

21.6.10
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.10
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

fix: build browser PDFs before opening previews
  projects/kit/printer/src/kit-browser-pdf.spec.ts
  projects/kit/printer/src/kit-browser-pdf.ts
Due: prettier --parser typescript --write

21.6.11
  package-lock.json
  package.json
Due: none

chore: update project versions to 21.6.11
  projects/kit/package.json
  projects/photo-editor/package.json
  projects/scroll-header/package.json
  projects/scroll-strategies/package.json
Due: none

docs: split library READMEs into package guides with omit markers
  projects/kit/README.md
  projects/kit/docs/auth-http.md
  projects/kit/docs/offline-realtime.md
  projects/kit/docs/optional-features.md
  projects/kit/docs/storage-overlays.md
  projects/kit/ng-package.json
  projects/photo-editor/README.md
  projects/photo-editor/docs/editor.md
  projects/photo-editor/docs/photo-file.md
  projects/photo-editor/docs/theme.md
  projects/photo-editor/docs/viewer.md
  projects/photo-editor/ng-package.json
  projects/scroll-header/README.md
  projects/scroll-header/docs/ion-content.md
  projects/scroll-header/docs/safe-area.md
  projects/scroll-header/docs/virtual-scroll.md
  projects/scroll-header/ng-package.json
  projects/scroll-strategies/README.md
  projects/scroll-strategies/docs/advanced.md
  projects/scroll-strategies/docs/faq.md
  projects/scroll-strategies/docs/reverse.md
  projects/scroll-strategies/docs/simple.md
  projects/scroll-strategies/ng-package.json
Due: none

docs: split library READMEs into package guides with omit markers (#80)
  projects/kit/README.md
  projects/kit/docs/auth-http.md
  projects/kit/docs/offline-realtime.md
  projects/kit/docs/optional-features.md
  projects/kit/docs/storage-overlays.md
  projects/kit/ng-package.json
  projects/photo-editor/README.md
  projects/photo-editor/docs/editor.md
  projects/photo-editor/docs/photo-file.md
  projects/photo-editor/docs/theme.md
  projects/photo-editor/docs/viewer.md
  projects/photo-editor/ng-package.json
  projects/scroll-header/README.md
  projects/scroll-header/docs/ion-content.md
  projects/scroll-header/docs/safe-area.md
  projects/scroll-header/docs/virtual-scroll.md
  projects/scroll-header/ng-package.json
  projects/scroll-strategies/README.md
  projects/scroll-strategies/docs/advanced.md
  projects/scroll-strategies/docs/faq.md
  projects/scroll-strategies/docs/reverse.md
  projects/scroll-strategies/docs/simple.md
  projects/scroll-strategies/ng-package.json
Due: none

feat(offline): support plaintext sqlite migration
  projects/kit/offline/src/lib/offline-aggregate-intent-projector.spec.ts
  projects/kit/offline/src/lib/offline-contract.spec.ts
  projects/kit/offline/src/lib/offline-coordinator.service.spec.ts
  projects/kit/offline/src/lib/offline-kit-options.ts
  projects/kit/offline/src/lib/offline-local-reset.spec.ts
  projects/kit/offline/src/lib/offline-local-reset.ts
  projects/kit/offline/src/lib/offline-mutation-persistence.service.spec.ts
  projects/kit/offline/src/lib/offline-natural-key.spec.ts
  projects/kit/offline/src/lib/offline-provider.ts
  projects/kit/offline/src/lib/offline-replica-pull.service.spec.ts
  projects/kit/offline/src/lib/offline-repository.spec.ts
  projects/kit/offline/src/lib/offline-sync.service.spec.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.spec.ts
  projects/kit/offline/src/lib/sqlite-offline-repository.ts
Due: prettier --parser typescript --write

21.7.0
  package-lock.json
  package.json
Due: none
